
/* Hero Section */
.hero-section {
    position: relative;
    height: 73vh;
    width: 100%;
    overflow: hidden;
  }
  .hero-video, .hero-overlay, .hero-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .hero-video {
    z-index: 1;
  }
  
  .hero-overlay {
    z-index: 2; /* Adjust the z-index as needed */
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
  }
  
  .hero-content {
    z-index: 3; /* Adjust the z-index as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    color: white;
    text-align: center;
  }
  
  .hero-title {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    white-space: normal; /* Prevent line breaks */
    overflow: hidden; /* Hide overflow text */
    width: 0; /* Set initial width to 0 */
    animation: typing 8s steps(30, end) infinite, blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    0% { width: 0; }
    62.5% { width: 100%; } /* 5s out of 8s is 62.5% */
    100% { width: 100%; }
  }
  
  .hero-button {
    padding: 15px 16px;
    border-radius: 30px;
    color: white;
    background: linear-gradient(to right,#20356E, #8B0000); /* Adjust the color as needed */
    border: none;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
  }
  
  .hero-button:hover {    
    background: linear-gradient(to left,#366cff, #ff1b1b); /* Darker shade for hover effect */
  }

  @media (max-width:1100px) {
    .hero-title{
      font-size: 2.5rem;
    }
  }