
@media (max-width:1100px) {
  .story-content-and-image{
    flex-direction: column;
    align-items: center;
    min-width: 100% !important;
  }
  
  .story-image {
    padding: 20px 0px 0px 0px !important;
    width: 80% !important;
  }

  .story-content {
    padding: 50px 0px 0px 0px !important;
    width: 80% !important; /* Increase the width */
  }
}



/* CSS for the "Our Story" section */
.story {
    display: flex;
    background-color: #EDF2F7;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
  }
  
  .story-content-and-image
  {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
  }

  .story-image {
    width: 35%;
    padding-top: 50px;
    padding-left: 50px;
  }

  .story-image img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .story-content {
    width: 65%;
    padding: 50px;
  }
  
  .story-content h2 {
    font-size: 2em;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .story-content p {
    font-size: 1em;
    line-height: 1.6;
    text-align: justify;
    color: #333; /* Adjust the color to match your design */
  }
    
  .story-buttons {
    margin-bottom: 20px;
  }

  .story-buttons button {
    padding: 10px 20px;
    width: 175px;
    margin: 5px 5px;
    border: 2px solid #8b0000;
    background-color: #f00000;
    color: white;
    cursor: pointer;
  }

  .story-button {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(to right, #0000ff,#20356E);
    border: 2px solid #8B0000;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .story-button:hover {
    transform: translateY(-3px);
    background: linear-gradient(to left,#366cff, #ff1b1b);
    box-shadow: 0 9px 12px rgba(0, 0, 0, 0.1);
  }

  .active {
    background: linear-gradient(to left,#366cff, #ff1b1b); /* Darker red background color for active state */
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1); /* Adjust box shadow for active state */
    animation: glow 1s ease-in-out infinite alternate; /* Add a subtle glowing effect */
  }
  
  @keyframes glow {
    from {
      box-shadow: 0 0 2.5px #e00202, 0 0 5px #e00202, 0 0 7.5px #e00202;
    }
    to {
      box-shadow: 0 0 3.5px #e00202, 0 0 6px #e00202, 0 0 10px #e00202;
    }
  }

  .expertise-progress-bars .progress-bar-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .expertise-progress-bars .progress-bar-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .expertise-progress-bars .progress-bar {
    background-color: #ccc;
    width: 70%;
    border-radius: 5px;
    position: relative;
    height: 20px;
  }
  
  .expertise-progress-bars .progress-bar .progress {
    background-color: #d9534f;
    height: 100%;
    border-radius: 5px 0 0 5px;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .expertise-progress-bars .progress-bar-container .progress-percentage {
    position: absolute;
    right: 10px;
    top: 1px;
    color: white;
    font-weight: bold;
  }

  .title-container {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }