  @keyframes pulseAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.025);
    }
    100% {
      transform: scale(1);
    }
  }

  .ActionAreaCard {
    width: 300px;
    color: #fff;
    background-color: #ff0000;
    animation: pulseAnimation 2s infinite;
  }
  
  .ActionAreaCard:hover {
    box-shadow: 0 10px 20px #ff0000;
  }

  .services {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .services h2 {
    margin-bottom: 50px;
    text-transform: uppercase;
    color: #333;
    position: relative;
  }
  
  .services h2::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 130px;
    height: 4px;
    background-color: red;
  }
  
  .services-grid {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 70%;
    margin-top: 70px;
  }
