.project-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.slideshow-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 60%; /* Adjust as needed */
    overflow: hidden; /* Ensure the images are clipped */
    position: relative; /* Needed for absolute positioning of images */
  }
  
.slideshow-project p, h1{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

  .back-button {
    color: #fff;
	  background: linear-gradient(to left,#20356E, #8B0000);
    padding: 15px 40px 15px 40px;
    margin: 2%;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
  }

  
  .container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .container button {
    background: linear-gradient(to left,#20356E, #8B0000);
    border-radius: 50px;
    color: white;
    padding: 15px ;
    /* margin: 2px; */
    text-align: center;
    font-size: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
  }


  .container button:hover, .back-button:hover {
	color: #fff;
	background: linear-gradient(to left,#366cff, #ff1b1b);
  }
  
  .container button:first-of-type {
    order: 1;
  }
  
  .slideshow-image {
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
    transform: scale(1) rotate(0deg);
  }
  
  .slideshow-image.changing {
    opacity: 0;
    transform: scale(0.1) rotate(0deg);
  }

  .slideshow-image {
    max-width: 80%;
    height: auto;
    margin: 20px;
    border: 5px solid #20356E;
    border-radius: 20px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    aspect-ratio: attr(width) / attr(height);
  }
  
  .container button:last-of-type {
    order: 3;
  }