/* Base styles for project container */
.project-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-bottom: 50px;
}

/* Base styles for project title container */
.project-title-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
  /* border-bottom: 3px solid #8B0000; */
   width: 100%;
  height: 300px;
  background: repeating-linear-gradient(
    90deg,
    #929191 2px,
    #555555 10px,
    #ffffff 20px
  );
  box-shadow: 0px 10px 16px rgba(20, 20, 20, 1);
}

/* Base styles for project title */
.project-title-container h1 {
  text-align: center;
  border-bottom: 3px solid #fff;
  border-top: 3px solid #fff;
  /* border-radius: 5px; */
  padding: 30px;
  width: 100%;
  font-size: 3rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 1);
  color: #fff;
  background: linear-gradient(to right, #20356E, #8B0000)
}

/* Specific styles for back button */
.back-button {
  padding: 15px 40px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 1);
  margin: 2%;
  border: 3px solid #fff;
  background: linear-gradient(to left, #20356E, #8B0000);
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
  transition: background-color 0.4s;
}

/* Project image and description Div */
.project-image-and-description{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

/* Project slideshow and buttons Div */
.project-slideshow-and-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50%;
}

/* Specific styles for buttons inside project button container */
.project-slideshow-and-buttons button {
  background: linear-gradient(to left, #20356E, #8B0000);
  color: white;
  padding: 15px;
  margin: 2px;
  border-radius: 50px;
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.4s;
}

/* Hover effect for buttons */
.project-slideshow-and-buttons button:hover,
.back-button:hover {
  background: linear-gradient(to left, #366cff, #ff1b1b);
}

/* Base styles for slideshow images */
.slideshow-image {
  transition: opacity 0.1s ease-in-out, transform 0.3s ease-in-out;
  width: 100%;
  height: auto;
  border: 3px solid #8B0000;
  border-radius: 5px;
  box-shadow: 0 14px 38px rgba(20, 20, 20, 1);
  object-fit: cover;
  aspect-ratio: attr(width) / attr(height);
}

/* Styles for changing slideshow images */
.slideshow-image.changing {
  opacity: 0;
  transform: scale(0.1) rotate(0deg);
}

/* Specific styles for project button container */
.project-button-container {
  display: flex;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
}

/* Base styles for slideshow project */
.slideshow-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

/* Base styles for text inside slideshow project */
.slideshow-project p {
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
}


/* Media query for mobile devices */
@media (max-width: 768px) {
  .project-title-container h1 {
    font-size: 2rem;
    padding: 10px;
  }

  .project-title-container {
    height: 100px;
  }

  .project-image-and-description{
    flex-direction: column;
  }

  .slideshow-image {
    max-width: 90%;
  }

  .back-button {
    padding: 10px 20px;
  }
}