  .projects-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
  }
  
  .projects-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .filter-buttons {
    margin-bottom: 20px;
  }
  
  .filter-buttons button {
    padding: 10px 20px;
    width: 175px;
    margin: 5px 5px;
    border-radius: 5px;
    border: 2px solid #8b0000;
    background-color: #f00000;
    color: white;
    cursor: pointer;
  }
  
  .filter-button {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(to right, #8b0000,#20356E);
    border: 2px solid #8B0000;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .filter-button:hover {
    transform: translateY(-3px);
    background: linear-gradient(to left,#366cff, #ff1b1b);
    box-shadow: 0 9px 12px rgba(0, 0, 0, 0.5);
  }

  .active {
    background-color: linear-gradient(to left,#366cff, #ff1b1b); /* Darker red background color for active state */
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1); /* Adjust box shadow for active state */
    animation: glow 1s ease-in-out infinite alternate; /* Add a subtle glowing effect */
  }

  .project-card {
    width: 400px;
    border: .5px solid #ddd;
    box-shadow: 0 14px 28px rgba(20, 20, 20, 0.75);
    margin-bottom: 20px;
    border-radius: 5px;
    /* background-color: #20356E; */
    transition: transform 0.3s ease;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
  }
  
  .project-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: contain;
  }
  
  .project-info {
    padding: 10px;
    background: linear-gradient(to left, #8b0000, #20356E);
    border-radius: 5px;
    user-select: none;
  }
  
  .project-name {
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    margin-top: 5px;
  }
  
  .projects-grid {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 70%;
    margin-top: 70px;
  }

  .projects-grid a {
    text-decoration: none;
  }

  @media (max-width:400px){
    .project-card{
      max-width: 300px;
    }
  }