
@media(max-width:400px){
  .contact-us-section-inner{
    min-width: 260px;
  }
  .contact-form-outer{
    min-width: 260px;
  }
}

@media(max-width:768px){
  .contact-us-section-inner{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 400px;
    padding: 2% 10% 2% 10%;
  }
  .contact-info{
    justify-content: center;
    align-items: center;
  }
}

@media(max-width:1024px){
  .contact-us-section-inner{
    width: 500px;
    padding: 2% 10% 2% 10%;
  }
  .contact-info{
    justify-content: center;
    align-items: center;
  }
}



.contact-us-section-inner {
    background: linear-gradient(to right,#20356E, #8B0000); /* Adjust the color to match the exact shade */
    color: white;
    border-radius: 1% 1%;
    display: flex;
    width: 90%;
    padding: 2% 5% 2% 5%;
    align-items: center;
    margin: auto;
  }
  
  .contact-us-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: auto;
  }

  .contact-us-section-inner h2 {
    font-size: 30px; /* Adjust the size as needed */
    margin-bottom: 20px;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
  }
  
  .contact-info p {
    margin: 5px;
  }

  .contact-info h2 {
    font-size: 26px; /* Adjust the size as needed */
  }
  
  
  .social-icons {
    display: flex;
    padding: 20px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    align-items: center;
    border-radius: 5px; /* Adjust as needed */
  }

  .contact-form-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .contact-form-outer p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 90%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #8B0000; /* Adjust color as needed */
    border-radius: 5px; /* Adjust as needed */
  }
  
  .contact-form textarea {
    min-height: 150px;
  }

  .contact-form button {
    background: linear-gradient(to right,#20356E, #8B0000); /* Adjust the color to match the exact shade */
    color: white;
    border: none;
    width: 90%;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px; /* Adjust as needed */
  }