@media(max-width:768px){
  .contact-us-section-inner{
    flex-direction: column;
    padding: 10px;
  }
  .contact-info{
    justify-content: center;
    align-items: center;
  }
}


.contact-us-section-inner {
    background-color: #D32F2F; /* Adjust the color to match the exact shade */
    color: white;
    border-radius: 2%;
    min-height: 80%;
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
  }
  
  .contact-us-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px 40px 80px 40px;
  }

  .contact-us-section-inner h2 {
    font-size: 30px; /* Adjust the size as needed */
    margin-bottom: 20px;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
  }
  
  .contact-info p {
    margin: 5px;
  }

  .contact-info h3 {
    font-size: 20px; /* Adjust the size as needed */
  }
  
  
  .social-icons {
    display: flex;
    padding: 20px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 5px; /* Adjust as needed */
  }

  .contact-form-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust as needed */
  }
  
  .contact-form-outer p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 90%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #8B0000; /* Adjust color as needed */
    border-radius: 5px; /* Adjust as needed */
  }
  
.contact-form textarea {
  min-height: 150px;
}

  .contact-form button {
    background-color: #D32F2F; /* Adjust the color to match the exact shade */
    color: white;
    border: none;
    min-width: 90%;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px; /* Adjust as needed */
  }