@media (max-width: 768px) {
  .header-container-main {
    flex-direction: column;
  }
  .header-container-left, .header-container-right {
    flex-direction: column !important;
    width: 100%;
  }
  .header-container-left {
    text-align: center;
  }
  .header-container-right {
    text-align: center;
  }
  /* Add any other responsive styles here */
}

.header-container {
  background: #8B0000;
  color: white;
  display: flex;
  flex-direction: column; /* Align children in a column */
  align-items: center;
}

#header-container-icon {
  font-size: 50px;
  color: #F00000;
  margin-top: 20px; /* Space between icon and text */
  margin-bottom: 15px; /* Space between icon and text */
}

.header-container-text {
  /* padding: 0px 20px 0px 20px; */
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center; /* Center text */
  font-size: 24px; /* Increase the font size */
  font-weight: bold; /* Make the text bold */
}

.header-container-right{
  display: flex;
  flex-direction: row;
  background-color: #8B0000;
  justify-content: space-around;
  padding-bottom: 30px;
  flex: 65%;
}

.header-container-left{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 35%;
  position: relative;
}

#header-container-left-icon{
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  font-size: 80px;
  color: #F00000;
  z-index: 1;
}

.header-container-left-background{
  position: absolute;
  display: flex;
  top: 0; left: 0; width: 100%; height: 100%; background-color: red;
  background-color: #8B0000;
  clip-path: polygon(50% 101%, 100% 0%, 101% 101%);
  z-index: 0;
}

.header-container-main
{
  display: flex;
}

.myLogo {
  min-width: 110%;
  transform: translateX(-100px);
}
