.app-header {
    background-color: #fff; /* Replace with the actual color */
    padding: 10px 20px; /* Adjust the padding as needed */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* This adds a subtle shadow to the header */
  }
  
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Adjust as needed */
    background-color: #000; /* Assuming a black background as seen in the image */
    color: white;
  }
  
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    /* Add styles for the logo here, such as width, height, etc. */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-left: 20px; /* Space between navigation links */
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333; /* Replace with the actual color */
    font-weight: bold; /* Adjust as needed */
  }
  
@media (max-width: 768px) {
  .header {
    padding: 20px; /* Adjust padding for smaller screens */
  }
  header {
    padding: 20px; /* Adjust padding for smaller screens */
  }
}
@media (max-width: 600px) {
  .header div {
    flex-direction: column;
  }
}

.header-container {
  background: #8B0000;
  color: white;
  display: flex;
  flex-direction: column; /* Align children in a column */
  align-items: center; /* Center items horizontally */
}

#header-container-icon {
  font-size: 80px;
  color: #F00000;
  margin-bottom: 30px; /* Space between icon and text */
}

.header-container-text {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center text */
  font-size: 24px; /* Increase the font size */
  font-weight: bold; /* Make the text bold */
}