.link-with-icon {
	display: flex;
	align-items: center;
  }
  
.hamburger {
	display: none;
	font-size: 24px;
	background-color: white;
	border: 0;
	color: #8B0000;
  }
  
  .menu,
  .menu.open {
	background-color: #fff;
	color: #8B0000;
	display: flex;
	align-items: center;
	align-self: center;
	justify-content: space-around;
	z-index: 100;
  }
  
  .menu.open {
	flex-direction: column;
	gap: 15px;
  }
  
  .hamburger:hover {
	background-color: #8B0000;
	color: white;
	border-radius: 5px;
	transition: background-color 0.3s ease-in-out;
  }
  
  .navbar {
	position: sticky;
	top: 0;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30%;
	padding-right: 30%;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-top: 4px solid #8B0000;
	border-bottom: 4px solid #20356E;
	box-shadow: 0 5px 10px rgba(0, 0, 255, 0.2);
	z-index: 40;
  }
  
  .logo {
	display: none;
	padding: 5px 5% 5px 5%;
	font-size: 24px;
	font-weight: bolder;
	color: #8B0000;
  }
  
  .logo-hamburger {
	display: flex;
	flex: 25%;
	justify-content: space-between;
  }

  .navbar a,
  #quoteButton {
	text-decoration: none;
	font-size: 20px;
	color: #8B0000;
	padding: 13px 26px;
	background-color: #fff;
	transition: background-color 0.3s ease-in-out;
  }
  
  .navbar a:hover, #quoteButton:hover {
	color: #fff;
    background: linear-gradient(to left,#366cff, #ff1b1b);
  }
  
  .navbar a:active, #quoteButton:active {
	color: #fff;
    background: linear-gradient(to left,#366cff, #ff1b1b);
  }

  .navbar-with-submenu:hover {
	color: #fff;
	background-color: #366cff;
}

  .navbar-with-submenu:active {
	background-color:  #366cff;
}
  
  #quoteButton {
	background: linear-gradient(to right,#20356E, #8B0000);
	color: #fff;
  }
  
  .services-menu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 280px;
	min-width: 160px;
	padding: 6px 12px;
	border: 1px solid #8B0000;
	/* border-radius: 5px; */
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 30;
  }
  
  .navbar-with-submenu {
	position: relative;
	height: 100%;
  }
  
  .services-menu a {
	color: black;
	text-decoration: none;
	display: block;
  }
  
  .services-menu a:hover {
	background-color: #8B0000;
  }
  
  .navbar-with-submenu:hover .services-menu {
	display: block;
  }
  
  /* For mobile devices */
  @media (max-width: 1100px) {
	.logo {
		display: block;
		font-size: 24px;
	  	font-weight: bolder;
	}

	.logo-hamburger{
		width: 100%;
		align-items: center;
		justify-content: space-between;
	}
  
	.navbar {
		flex-direction: column;
	}

	.menu {
	  display: none;
	}
  
	.navbar{
		padding-left: 0%;
		padding-right: 0%;
	}

	.services-menu {
		left: -50%;
	}

	.hamburger {
	  display: block;
	  margin-right: 20px;
	  padding: 5px 10px 5px 10px;
	}
  }