  @media (max-width: 768px) {
    .menu {
      flex-direction: column;
    }
  }

  .navbar{
    display: flex;
    border-top: 5px solid #8B0000;
    border-bottom: 5px solid #8B0000;
  }

  .menu {
    background-color: #fff;
    color: #8B0000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    z-index: 100;
    flex: 25%;
  }

  .logo {
    flex: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10%;
    font-weight: bolder;
    font-size: 24px;
    color: #8B0000;  
  }
  
  a {
    text-decoration: none;
    font-size: 18px;
    color: #8B0000; /* Replace with the actual color */
    font-weight: bold; /* Adjust as needed */
  }