@media (max-width:768px) {
  .footer-content{
    flex-direction: column;
    gap: 10px !important;
  }
}

@media (max-width:1100px) {
  .footer-section.links-section{
    flex-direction: column;
  }
  .footer-content{
    justify-content: flex-start;
    gap: 50px !important;
  }
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f8f8f8;
    font-family: 'Arial', sans-serif;
  }

  .footer h2 {
    text-align: left;
  }

  .footer-content {
    display: flex;
    gap: 100px;
    justify-content: center;
  }
  
  .footer-section {
    display: flex;
    flex-direction: column;
  }
  
  .footer-logo {
    min-width: 300px;
    max-width: 300px;
    padding: 20px;
    height: auto;
  }
  
  .links-section {
    display: flex;
    flex-direction: row;
    /* Adjust as needed */
  }
  
  .footer-column {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    padding: 10px;
  }

  .footer-column a {
    color: black;
    padding: 6px;
    font-size: 16px;
    border-left: 2px solid #fff;
    text-decoration: none;
    cursor: pointer;
  }
  
  .footer-column a:active {
    color: #fff;
    font-weight: bold;
    background-color: #8B0000;
    border-left: 1px solid #8B0000;
    user-select: none;
  }
  
  .footer-column a:hover {
    color: #8B0000;
    background-color: transparent;
    border-left: 2px solid #8B0000;
    user-select: none;
  }

  .footer-column h4 {
    margin: 0;
  }

  .footer-column.contact-us-info p {
    margin-top: 20px;
  }
  
  .social-section {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: flex-end;
  }
  .social-section :not(:first-child) {
    margin-left: 20px; /* Add margin to create space between the first and the other children */
  }
  .social-section :first-child {
    margin-right: auto; /* Align the first child to the left */
    margin-left: 20px; /* Align the first child to the left */
  }

  .social-icon {
    color: #8B0000;
    margin-right: 10px;
  }

  .social-icon:hover{
    color: #21346E;
  }