@media (max-width:768px) {
  .footer-content{
    flex-direction: column;
  }
}

.footer {
    display: flex;
    padding: 20px;
    background-color: #f8f8f8;
    font-family: 'Arial', sans-serif;
  }
  
  .footer-content {
    display: flex;
    min-width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .footer-section {
    display: flex;
    flex-direction: column;
  }
  
  .footer-logo {
    max-width: 90%;
  }
  
  .links-section {
    display: flex;
    flex-direction: row;
    /* Adjust as needed */
  }
  
  .footer-column {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    padding: 30px;
  }

  .footer-column a {
    color: black;
    font-weight: bold;
    padding:12px;
    font-size: 18px;
    text-decoration: none;
  }
  
  .footer-column a:active {
    color: #fff;
    font-weight: bold;
    background-color: #8B0000;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #8B0000;
    user-select: none;
  }
  
  .footer-column a:hover {
    color: #8B0000;
    background-color: transparent;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #8B0000;
    user-select: none;
  }

  .footer-column h4 {
    margin: 0;
    padding: 5px 0;
  }
  
  .social-section {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    justify-content: space-around;
  }
  
  .social-icon {
    display: inline-block;
    margin-right: 10px;
  }

  .footer-map{
    padding: 30px;
  }