#main{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#div-text{
    color: #8B0000;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    padding: 10px 0px 10px 0px;
}

#div-icons{
    color: #8B0000;
    display: flex;
    align-items: flex-end;
    padding: 10px 0px 10px 0px;
}