.our-clients-section {
    width: 100%;
    padding-top: 75px;
    padding-bottom: 100px;
    background-color: #F7F7F7;
    overflow: hidden;
  }
  
  .headings h4, h2{
    text-align: center;
  }

  .headings h2{
    font-size: 2.5rem;
  }

  .headings h4{
    color: #8B0000;
    font-size: 2rem;
  }
  
  .headings {
    padding-bottom: 50px;
  }

  .slideshow {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slideshow-slider {
    display: flex;
    animation: slide-animation 25s linear infinite;
  }
  
  .slide {
    max-width:175px; /* Adjust the width of each slide */
    max-height:175px; /* Adjust the width of each slide */
    padding: 40px;
    transition: transform 1s ease;
  }
  
  /* Keyframes for the sliding animation */
  @keyframes slide-animation {
    0% {
      transform: translateX(120%);
    }
    100% {
      transform: translateX(-120%);
    }
  }