.our-clients-section {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-bottom: 50px;
  /* padding-top: 50px; */
  justify-content: center;
  align-items: center;
  text-align: center;
    /* overflow: hidden; */
  }
  
  .headings h4, h2{
    text-align: center;
  }

  .headings h2{
    font-size: 2.5rem;
  }

  .headings h4{
    color: #8B0000;
    font-size: 2rem;
  }
  
  .headings {
    padding-bottom: 50px;
  }

  .headings h2::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 230px;
    height: 4px;
    background-color: red;
  }

  .slideshow {
    position: relative;
    width: 100%;
    
    background-color: #F7F7F7;
    overflow: hidden;
  }
  
  .slideshow-slider {
    display: flex;
    animation: slide-animation 25s linear infinite;
  }
  
  .slide {
    max-width:175px; /* Adjust the width of each slide */
    max-height:175px; /* Adjust the width of each slide */
    padding: 40px;
    transition: transform 1s ease;
  }
  
  /* Keyframes for the sliding animation */
  @keyframes slide-animation {
    0% {
      transform: translateX(120%);
    }
    100% {
      transform: translateX(-120%);
    }
  }