.our-clients-section {
    width: 100%;
    overflow: hidden;
  }
  
  .header {
    text-align: center;
  }
  
  .slideshow {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slideshow-slider {
    display: flex;
    animation: slide-animation 25s linear infinite;
  }
  
  .slide {
    max-width:150px; /* Adjust the width of each slide */
    max-height:150px; /* Adjust the width of each slide */
    padding: 40px;
    transition: transform 1s ease;
  }
  
  /* Keyframes for the sliding animation */
  @keyframes slide-animation {
    0% {
      transform: translateX(120%);
    }
    100% {
      transform: translateX(-120%);
    }
  }