.team-section {
    text-align: center;
    background-color: #fff; /* Adjust the color to match your design */
    padding: 20px;
    min-height: 900px;
  }
  
  .team-section h2 {
    margin-bottom: 20px;
    /* Add styles for the heading */
  }

  .team-section h2 {
    margin-bottom: 50px;
    text-transform: uppercase;
    color: #333;
    position: relative;
  }
  
  .team-section h2::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background-color: red;
  }

  .team-members {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 2%;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 10%;
    margin-right: 10%; /* Adjust the gap as needed */
   }

  .team-member {
    width: 200px; /* Adjust width as needed */
    margin: 10px;
    padding: 20px;
    text-align: center;
  }
  
  .member-photo {
    width: 100%; /* Adjust to fit design */
    border-radius: 50%; /* Circular images */
    margin-bottom: 10px;
  }

  
  .show-all-btn {
    margin-top: 20px;
    padding: 10px 20px;
    /* Add more styles for the button */
  }
  .team-member-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border: 1px solid #f00000;
    border-radius: 2%;
    max-height: 300px;
    margin: 120px 6px 6px 6px;
    color: #fff;
    background-color: #8b0000;
    transition: transform 0.1s ease-in-out;
  }

  .team-member-profile:hover {
    color: #8b0000;
    background-color: #fff;
    transform: translateY(-10px) scale(1.05);
  }
  
  .team-member-profile:hover .profile-details p {
    color: #fff;
    background-color: #8b0000;
    border-radius: 5%;
    transform: translateY(-56px) scale(1.05);
  }

  .team-member-profile {
    position: relative;
  }

  .profile-details p {
    color: #fff;
    transform: translateY(-56px) scale(1.05);
    background-color: #8b0000;
  }
  
  .team-member-profile::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: #8b0000;
    opacity: 1;
    transition: width 1s, height 1s, opacity 1s, top 1s, left 1s;
  }
  
  .team-member-profile:hover::after {
    width: 200px;
    height: 200px;
    opacity: 0;
    top: 50%;
    left: 50%;
  }
  
  .profile-details {
    max-height: 200px;
  }
  
  .profile-image img {
    display: flex;
    width: 100%;
    height: 200px;
    border-radius: 1%;
    object-fit: cover;
  }
  
  .profile-details h3 {
    font-size: 1.75rem;
    transform: translateY(-25px);
  }
  
  .profile-details p {
    color: #666;
    font-size: 0.85rem;
    transform: translateY(-57px);
  }
  .profile-details h3,
  .profile-details p {
    user-select: none;
  }