/* For mobile devices */
@media (max-width: 767px) {
  .team-section .team-members {
    grid-template-columns: 1fr;
    gap: 5px;
    width: 70%;
  }
  .profile-details h3 {
    font-size: 1.5rem;
  }
  .profile-details p {
    font-size: 0.75rem; 
  }
}

/* For tablet devices */
@media (min-width: 768px) and (max-width: 1023px) {
  .team-section .team-members {
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    padding-top: 100px;
    width: 75%;
  }
  .profile-details h3 {
    font-size: 1.65rem;
  }
  .profile-details p {
    font-size: 0.8rem;
  }
}

.team-section {
    text-align: center;
    background-color: #fff;
    min-height: 100%;
  }
  
  .team-section h2 {
    text-transform: uppercase;
    color: #333;
    position: relative;
  }
  
  .team-section h2::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background-color: red;
  }

  .team-members {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 2%;
    width: 60%;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: auto;
  }
    
  .show-all-btn {
    margin-top: 20px;
    padding: 10px 20px;
  }
  
  .team-member-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    /* border-radius: 2% 2% 4% 4%; */
    color: #8b0000;
    background-color: #fff;
    border: 2px solid #f00000;
    transition: transform 0.1s ease-in-out;
  }

  .team-member-profile:hover {
    color: #fff;
    border: 0px;
    background-color: #8b0000;
    transform: scale(0.95);
  }
  
  .team-member-profile:hover .profile-details p {
    color: #ffffff;
    border-radius: 5%;
  }

  .team-member-profile {
    position: relative;
    padding: 0px 20px 20px 20px;
  }

  .team-member-profile::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: #8b0000;
    opacity: 1;
    transition: width 1s, height 1s, opacity 1s, top 1s, left 1s;
  }
  
  .team-member-profile:hover::after {
    width: 300px;
    height: 300px;
    opacity: 0;
    top: 50%;
    left: 50%;
  }
  
  .profile-image img {
    display: flex;
    width: 100%;
    padding-top: 20px;
    /* border-radius: 5%; */
    object-fit: cover;
  }
  
  .profile-details h3 {
    font-size: 1.75rem;
    padding-top: 15px;
  }
  
  .profile-details p {
    color: #8b0000;
    font-size: 0.85rem;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .profile-details h3,
  .profile-details p {
    user-select: none;
  }